$white: #fff;
$black: #000;
$blue: #1a4f8b;
$blue_secondary: #385c8e;
$gray: #767676;
$light_gray: #b0b0b0;
$borders: #c3c3c3;
$red: #f14436;
$dark_red: #bf1541;

$roboto_font: Roboto, Arial, Tahoma, sans-serif;