.forgotPassword {
    padding: 74px 0 86px;

    .button {
        margin-top: 26px;
        letter-spacing: -0.408px;

        @include screen(380) {
            margin-top: 14px;
        }
    }

    p {
        margin: 200px 0 0;

        @include screen(380) {
            margin: 100px 0 0;
        }
    }
}